<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75728123376-k6uud41thv6t95gf873th0r5ftdig9r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75728123376-k6uud41thv6t95gf873th0r5ftdig9r0</string>
	<key>API_KEY</key>
	<string>AIzaSyC1p1j1gAD7eU_MOrCoDCNzVOIEWkMO740</string>
	<key>GCM_SENDER_ID</key>
	<string>75728123376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JonathanMorris.UCSC-Crown-Bathroom</string>
	<key>PROJECT_ID</key>
	<string>ucsc-crown-bathroom</string>
	<key>STORAGE_BUCKET</key>
	<string>ucsc-crown-bathroom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75728123376:ios:d2a44b6e020deca3845935</string>
</dict>
</plist>